_build*/
_temp/
CMakeFiles/
niserve.dir/
Release/
x64/
*~
*.swp
*.obj
*.o
*.pch
*.sln
*.vcxproj
*.vcxproj.filters
CMakeCache.txt
cmake_install.cmake
Makefile
.idea
.build-tools.cson
.clang_complete
build.sh
compile_commands.json
__pycache__
npm-*.log*
.vscode/
/build/
.cproject
.project
.settings
internal
cmake-build*

# IntelliJ project files
.idea
*.iml
out
gen
cmake-build-*
temp

.DS_Store

